# phpstorm project files
.idea

# netbeans project files
nbproject

# Environment variables
.env

# Configuration with secrets
config/params.php

# Large binary files and installers
/Outils/
*.exe
*.msi
*.dmg
*.pkg

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant

#Uploaded files
/storage
/web/storage





/vendor/
/runtime/
/web/assets/*
/tests/runtime/
/nbproject/
/.idea/
/vagrant/
/.vscode/
*.log

config/params.php
